<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>留言板</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>

        <h1 style="text-align:center">登录成功</h1>
<form method = 'post' enctype="multipart/form-data">
 <p class="form-actions" style="text-align: center">
     <a href="/logout/"><input type="button" value="注销" class="btn btn-danger"></a>
 </p>
</form>
        <a href="/mes/" target="_blank"><input type="button" value="查看我的留言" class="btn btn-danger"></a>
        <a href="/createM/"><input type="button" value="去留言" class="btn btn-danger"></a>
    </body>
</html>